.tabs{
    color: white;
    font-weight: 700;
    padding: 4px 15px 4px 15px;
}
.active-tabs{
    color: rgb(68,0,162);
    background-color: white;
    border-radius: 15px;
}
.slider{
    border: 2px solid rgb(170, 169, 169);
    height: 10px;
    width: 10px;
    border-radius: 10px;
}
.slider:hover{
    background-color: rgb(170, 169, 169);
}
.slider-active{
    border: 2px solid rgb(93,7,208);
    background-color: rgb(93,7,208);
    height: 20px;
    width: 10px;
    border-radius: 10px;
}
.logo{
    font-family: cursive;
    font-size: 20px;
}