.tabs{
    color: white;
    font-weight: 700;
    padding: 4px 15px 4px 15px;
}
.active-tabs{
    color: rgb(68,0,162);
    background-color: white;
    border-radius: 15px;
}
.slider{
    border: 2px solid rgb(170, 169, 169);
    height: 10px;
    width: 10px;
    border-radius: 10px;
}
.slider:hover{
    background-color: rgb(170, 169, 169);
}
.slider-active{
    border: 2px solid rgb(93,7,208);
    background-color: rgb(93,7,208);
    height: 20px;
    width: 10px;
    border-radius: 10px;
}
.logo{
    font-family: cursive;
    font-size: 20px;
}
.login-form-signin{
    background-color: rgb(254,120,71);
    color: whitesmoke;
    padding: 8px 30px;
    border-radius: 10px;
}
.login-form-signin:hover{
    padding: 10px 35px;
}
.get-demo-page-button{
    background-image: linear-gradient(120deg, rgb(66,1,163)40%, rgb(156,1,232));
    border-radius: 5px;
    color: white;
    width: 45%; 
    height: 40px;
    font-size: 16px;
}
.signup-sliding{
    border: 2px solid rgb(170, 169, 169);
    height: 13px;
    width: 13px;
    border-radius: 10px;
    background-color: rgb(170, 169, 169);
}
.signup-sliding-active{
    border: 2px solid white;
    background-color: rgb(255,164,103);
    height: 12px;
    width: 12px;
}
.complet-signup{
    background-color: rgb(254,108,55);
    padding: 10px 20px 10px 20px;
    color: white;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.complet-signup:hover{
    background-color: blue;
}
.scrolling{
    display: flex;
    width: calc(300px * 20);
    animation: scroll 40s linear infinite;
    overflow: hidden;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(calc(-100px * 20));
    }
}

.home-page-getdemo{
    color: white;
    background-color: rgb(127,68,254);
    border-radius: 20%;
    padding: 10px 20px;
    font-weight: 500;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

}
